PORT=3001

FIREBASE_PROJECT_ID='your firebase project id'
# https://firebase.google.com/docs/emulator-suite/connect_firestore#web
FIREBASE_AUTH_EMULATOR_HOST="127.0.0.1:9099"
# https://firebase.google.com/docs/emulator-suite/connect_auth
FIRESTORE_EMULATOR_HOST="127.0.0.1:9000"
